<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<!-- <link href='http://fonts.useso.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'> -->
<!-- /font files  -->
<!-- css files -->
<link href="__STATIC__/home/css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body style="background:url(__STATIC__/admin/uploads/artical/ban33.jpg) no-repeat;">
<h1 style="font-size: 26px">欢迎来到华北互联网</h1>
<div class="log">

	<div class="content2">
		<h2>welcome</h2>
		<form method="post" action="/home/login/dologin">
			<input type="text" name="username" placeholder="帐号" >
			<input type="password" name="password" placeholder="密码" >
			<div  class="layui-input-inline" style="width: 130px;margin-left: 44px;
			margin-top: 5px">
                        <input  type="text" id="code" name="captcha"
                        autocomplete="off" placeholder="验证码" class="layui-input" required="">
                        
            </div>
                    <div class="layui-form-label" style="width: 130px;margin-left: 200px;margin-top:-40px">
                       <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?id'+Math.random()">
                    </div>
			<div class="button-row">
				<input type="submit" class="sign-in" value="登录">
				<input type="reset" class="reset" value="重置">
				
				<div class="clear"></div>
			</div>
			<a href="/home/login/register" style="color:white">没有账号? 立即注册</a>
		</form>
	</div>

</div>

<!-- <div class="footer">
	<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</div> -->

</body>
</html>