<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<!-- <link href='http://fonts.useso.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'> -->
<!-- /font files  -->
<!-- css files -->
<link href="__STATIC__/home/css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body style="background:url(__STATIC__/admin/uploads/artical/ban33.jpg) no-repeat;">
<h1 style="font-size: 26px">欢迎来到华北互联网</h1>
<div class="log">
	
	<div class="content2">
		<h2 style="font-size: 20px">用户注册</h2>
		<form method="post" action="/home/login/save">
			<input type="text" name="username" placeholder="帐号"  >
			<input type="password" name="password" placeholder="密码" >
			<input type="password" name="repass" placeholder="再输入密码" >
			<input type="tel" name="phone" placeholder="请输入手机号" >
			<input type="submit" class="register" placeholder="注册">
		</form>
	</div>
	<div class="clear"></div>


</div>
<!-- <div class="footer">
	<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</div> -->

</body>
</html>