<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>澳门运营工程师协会的探索之旅</title>
<meta name="keywords" content="澳门,运营,工程师,协,会的,探索,之旅,近日," />
<meta name="description" content="近日，澳门运营工程师协会（Society of Operations Enigeers简称SOE）前往HDL智能体验中心参观体验，并与HDL董事长梁国芹、总裁刘正林、副总裁曾义等人员进行行业与技术的交流。 梁国芹董事" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/base_3.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/indexbanner_3.css" />
</head>
<body >
<!-- header --> 
<div class="header" > <a href="/"><img class="headerLogo" src="__STATIC__/admin/uploads/artical/logo_3.png" /></a> 
  <!-- list -->
  
  <!-- list over -->
  <ul class="nav">
    <div class="navTop"></div>
    <li class="child"> <a href="/home/index/index">
      <p class="title">首页</p>
      </a> </li>
    {volist name='nav' id='vo'} 
    <li class="child">
      <a href="/home/{$vo.link}/index">
        <p class="title">{$vo.name}</p>
      </a>
      <ul class="childContent">
        {volist name='vo.sub' id='v'}
        <a href="/home/index/{$v.link}"><li class="childContentLi">{$v.name}</li></a>  
        {/volist}
      </ul>
      <img class="wapNavPointer" src="__STATIC__/admin/uploads/artical/wapnavpointer.jpg" /> 
    </li>
    {/volist}
    <li class="child navChildSearch" style="line-height:px;"> <img   style="margin-top: 53px;" class="seachIcon" src="__STATIC__/admin/uploads/artical/seachicon_3.png" /> </li>
  </ul>
  <!-- searchContent -->
  <div class="searchContent">
    <form  name="formsearch" action="/plus/search.php">
      <div class="seach">
        <input type="hidden" name="kwtype" value="0" />
        <input type="text" name="q" class="seachText" placeholder="搜索" />
        <button type="submit" class="search-submit">
        <div id="btn_2" class="btn"><img src="__STATIC__/admin/uploads/artical/footsearch_3.png" /></div>
        </button>
      </div>
    </form>
  </div>
  <!-- searchContent over --> 
  <!-- wap --> 
  <img class="wapNavBtn" src="__STATIC__/admin/uploads/artical/wapnavbtn_3.png" />
  <div class="wapLanguage"> <a>
    <div class="language on cn">CN</div>
    </a> <a href="/">
    <div class="language">EN</div>
    </a> </div>
  <!-- wap over --> 
</div>
 
<!-- header over -->
</div>
<!-- wap over -->
</div>
<!-- header over -->
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/newsinfo_1.css" />
<!-- crumbs -->
<div class="crumbs">
  <div class="container">
    <p class="title">新闻动态</p>
    <div class="childs"> <a href='http://www.aaa.com/'>主页</a> > <a href='/a/xinwendongtai/'>新闻动态</a> >  </div>
  </div>
</div>
<!-- crumbs over --> 
<!-- main -->
<div class="main">
  <div class="container">
    <div class="mainHead">
      <p class="title">澳门运营工程师协会的探索之旅</p>
      <p class="time">2015-10-12</p>
    </div>
    <!-- mainContent -->
    <div class="mainContent"> <div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	<input height="666" src="__STATIC__/admin/uploads/artical/1435462M5-0.jpg" style="-webkit-transition-property: all; transition-property: all; outline: none; max-width: 100%; height: auto !important;" type="image" width="1000" /></div>
<div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	&nbsp;</div>
<div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	近日，澳门运营工程师协会（Society of Operations Enigeers简称SOE）前往HDL智能体验中心参观体验，并与HDL董事长梁国芹、总裁刘正林、副总裁曾义等人员进行行业与技术的交流。</div>
<div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	&nbsp;</div>
<div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	<input src="__STATIC__/admin/uploads/artical/1435463I8-1.jpg" style="-webkit-transition-property: all; transition-property: all; outline: none; max-width: 100%; height: auto !important;" type="image" /></div>
<div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	&nbsp;</div>
<div style="transition-property: all; -webkit-transition-property: all; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; padding: 1px 0px; font-family: 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑, 宋体, 黑体;">
	梁国芹董事长对SOE表示欢迎后，便在多功能厅进行浪漫午餐。</div>
 </div>

<div class="container" style="border-bottom: 1px solid #A9A9A9;height:50px;margin-bottom: 30px"></div>
<div class="container">
  <form action="/home/comment/save" method="post">
    <p style="font-size: 18px; color:#333; margin-bottom: 10px ">新闻评论</p>
    <textarea name="content" id="" placeholder="请输入评论内容" cols="140" rows="10" style="border: 1px solid #cfcfcf"></textarea><br><br>
    作者: <input type="text" name="name" style="width: 100px;height: 30px;border: 1px solid #cfcfcf">
    标题: <input type="text" name="title" style="width: 300px;height: 30px;border: 1px solid #cfcfcf">
    <button type="submit" style="width:80px ;height:40px;border: none;background-color: #cfcfcf;font-size: 14px;margin-top: 50px;float:right">提交</button>
  </form>
</div>
    <!-- mainContent over --> 
    <!-- mainFoot -->
    <div class="mainFoot"> <a href="#">
      <div class="child">
        <div class="childIcon"><img src="__STATIC__/admin/uploads/artical/weibo_1.png" /></div>
        <div class="childInfo">
          <p>分享到</p>
          <p>新浪微博</p>
        </div>
      </div>
      </a>
      <div class="child">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        <div class="childIcon"><img src="__STATIC__/admin/uploads/artical/wechat_1.png" /></div>
        <div class="childInfo">
          <p>分享到</p>
          <p>朋友圈</p>
        </div>
      </div>
      <a onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;">
      <div class="child">
        <div class="childIcon"><img src="__STATIC__/admin/uploads/artical/qqzone_1.png" /></div>
        <div class="childInfo">
          <p>分享到</p>
          <p>QQ空间</p>
        </div>
      </div>
      </a> <a href="#">
      <div class="child">
        <div class="childIcon"><img src="__STATIC__/admin/uploads/artical/email_1.png" /></div>
        <div class="childInfo">
          <p>通过邮件</p>
          <p>分享给朋友</p>
        </div>
      </div>
      </a> </div>
    <!-- mainFoot over --> 
    <!-- about -->
    <div class="about">
      <div class="aboutTitle"> <span class="title">相关文章</span>
        <div class="sub"></div>
      </div>
      <div class="container"> 


      {volist name='about' id='vo'}
        <div class="child"> <a href="/home/news/{$vo.link}">
            <div class="childImg"><img src="__STATIC__/admin/uploads/artical/{$vo.photo}" /></div>
            </a> <a href="/home/news/{$vo.link}">
            <div class="childTitle">
              <p>{$vo.title}</p>
            </div>
            </a> 
        </div>
        {/volist}

          
 </div>
    </div>
    <!-- about over --> 
  </div>
</div>
<!-- main over --> 
<!-- footer --> 
<div class="footer">
  <div class="head">
    <div class="container">
      <div class="left">
        <p class="title">搜索本站</p>
        <form  name="formsearch" action="/plus/search.php">
          <div class="seach">
            <input type="hidden" name="kwtype" value="0" />
            <input type="text" name="q" class="seachText" placeholder="搜索" />
            <button type="submit" class="search-submit">
            <div id="btn" class="btn"> <img  src="__STATIC__/admin/uploads/artical/footsearch_3.png" /> </div>
            </button>
          </div>
        </form>
      </div>
      <div class="right">
        <p class="title">社交媒体</p>
        <div class="content"> <a href="http://weibo.com/"><img src="__STATIC__/admin/uploads/artical/icon1_3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon2_3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon3_3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon4_3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon5_3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon6_3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon7_3.png" /></a> </div>
      </div>
    </div>
  </div>
  <div class="foot">
    <p>Copyright &copy; 2002-2011  | 华北互联 |<a href="http://www.miitbeian.gov.cn/"> 粤ICP备88888888号</a> </p>

  </div>
</div> 
<!-- footer over --> 
<!-- js --> 
<script src="__STATIC__/home/js/jquery-1.11.0.min_3.js"></script> 
<script src="__STATIC__/home/js/base_3.js"></script> 
<script src="__STATIC__/home/js/index_3.js"></script> 
<script src="__STATIC__/home/js/indexnews_3.js"></script> 
<script src="__STATIC__/home/js/indexbanner_3.js"></script> 

<!-- js over -->
</body>
</html>
<script>
	$(function(){
		$("#btn").click(function(){
			$("#post_1").submit();
		});

	
		$("#btn_2").click(function(){
			$("#post_2").submit();
		});
		$("#btn_3").click(function(){
			$("#post_3").submit();
		});
	});



</script>