<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>产品系列</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/base_6.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/indexbanner_6.css" />
</head>
<body >
<!-- header --> 
<div class="header" > <a href="/"><img class="headerLogo" src="__STATIC__/admin/uploads/artical/logo_6.png" /></a> 
  <!-- list -->
  
  <!-- list over -->
  <ul class="nav">
    <div class="navTop"></div>
    <li class="child"> <a href="/home/index/index">
      <p class="/home/index/index">首页</p>
      </a> </li>
    {volist name='nav' id='vo'} 
    <li class="child">
      <a href="/home/{$vo.link}/index">
        <p class="title">{$vo.name}</p>
      </a>
      <ul class="childContent">
        {volist name='vo.sub' id='v'}
        <a href="/home/index/{$v.link}"><li class="childContentLi">{$v.name}</li></a>  
        {/volist}
      </ul>
      <img class="wapNavPointer" src="__STATIC__/admin/uploads/artical/wapnavpointer.jpg" /> 
    </li>
    {/volist}
    <li class="child navChildSearch" style="line-height:px;"> <img   style="margin-top: 53px;" class="seachIcon" src="__STATIC__/admin/uploads/artical/seachicon_6.png" /> </li>
  </ul>
  <!-- searchContent -->
  <div class="searchContent">
    <form  name="formsearch" action="/plus/search.php">
      <div class="seach">
        <input type="hidden" name="kwtype" value="0" />
        <input type="text" name="q" class="seachText" placeholder="搜索" />
        <button type="submit" class="search-submit">
        <div id="btn_2" class="btn"><img src="__STATIC__/admin/uploads/artical/footsearch_6.png" /></div>
        </button>
      </div>
    </form>
  </div>
  <!-- searchContent over --> 
  <!-- wap --> 
  <img class="wapNavBtn" src="__STATIC__/admin/uploads/artical/wapnavbtn_6.png" />
  <div class="wapLanguage"> <a>
    <div class="language on cn">CN</div>
    </a> <a href="/">
    <div class="language">EN</div>
    </a> </div>
  <!-- wap over --> 
</div>
 
<!-- header over -->
</div>
<!-- wap over -->
</div>
<!-- header over -->
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/product2.css" />
<div class="crumbs">
  <div class="container">
    <p class="title">产品展示</p>
    <div class="childs"> <a href='http://www.aaa.com/'>主页</a> > <a href='/a/chanpinxilie/'>产品系列</a> > <a href='/a/chanpinxilie/KNX/'>KNX</a> >  </div>
  </div>
</div>
<!-- main -->
<div class="main">
  <div class="container">
    <div class="productmain"> 
      <div class="child">
        <div class="childImg"><img src="__STATIC__/admin/uploads/artical/1-1510121454190-l.jpg" /></div>
        <div class="childTitle">
          <p>窗帘控制器 /2路</p>
        </div>
        <div class="childSub"></div>
        <div class="childInfo"> <img src="__STATIC__/admin/uploads/artical/listicon.jpg" /> <span>详细信息</span> </div>
      </div>
      
      <div class="child">
        <div class="childImg"><img src="__STATIC__/admin/uploads/artical/1-1510121445230-l.jpg" /></div>
        <div class="childTitle">
          <p>现代系列欧标智能面板</p>
        </div>
        <div class="childSub"></div>
        <div class="childInfo"> <img src="__STATIC__/admin/uploads/artical/listicon.jpg" /> <span>详细信息</span> </div>
      </div>
      
      <div class="child">
        <div class="childImg"><img src="__STATIC__/admin/uploads/artical/1-1510121444290-l.jpg" /></div>
        <div class="childTitle">
          <p>现代系列美标智能面板</p>
        </div>
        <div class="childSub"></div>
        <div class="childInfo"> <img src="__STATIC__/admin/uploads/artical/listicon.jpg" /> <span>详细信息</span> </div>
      </div>
      
      <div class="child">
        <div class="childImg"><img src="__STATIC__/admin/uploads/artical/1-1510121443260-l.jpg" /></div>
        <div class="childTitle">
          <p>艺术系列欧标触控面板</p>
        </div>
        <div class="childSub"></div>
        <div class="childInfo"> <img src="__STATIC__/admin/uploads/artical/listicon.jpg" /> <span>详细信息</span> </div>
      </div>
       </div>
  </div>
</div>
<!-- main over --> 
<!-- footer --> 
<div class="footer">
  <div class="head">
    <div class="container">
      <div class="left">
        <p class="title">搜索本站</p>
        <form  name="formsearch" action="/plus/search.php">
          <div class="seach">
            <input type="hidden" name="kwtype" value="0" />
            <input type="text" name="q" class="seachText" placeholder="搜索" />
            <button type="submit" class="search-submit">
            <div id="btn" class="btn"> <img  src="__STATIC__/admin/uploads/artical/footsearch_6.png" /> </div>
            </button>
          </div>
        </form>
      </div>
      <div class="right">
        <p class="title">社交媒体</p>
        <div class="content"> <a href="http://weibo.com/"><img src="__STATIC__/admin/uploads/artical/icon1_6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon2_6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon3_6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon4_6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon5_6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon6_6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon7_6.png" /></a> </div>
      </div>
    </div>
  </div>
  <div class="foot">
    <p>Copyright &copy; 2002-2011  | 华北互联 |<a href="http://www.miitbeian.gov.cn/"> 粤ICP备88888888号</a> </p>

  </div>
</div> 
<!-- footer over --> 
<!-- js --> 
<script src="__STATIC__/home/js/jquery-1.11.0.min_6.js"></script> 
<script src="__STATIC__/home/js/base_6.js"></script> 
<script src="__STATIC__/home/js/index_6.js"></script> 
<script src="__STATIC__/home/js/indexnews_6.js"></script> 
<script src="__STATIC__/home/js/indexbanner_6.js"></script> 

<!-- js over -->
</body>
</html>
<script>
	$(function(){
		$("#btn").click(function(){
			$("#post_1").submit();
		});

	
		$("#btn_2").click(function(){
			$("#post_2").submit();
		});
		$("#btn_3").click(function(){
			$("#post_3").submit();
		});
	});



</script>