<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>解决方案</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/base_5.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/indexbanner_5.css" />
</head>
<body >
<!-- header --> 
<div class="header" > <a href="/"><img class="headerLogo" src="__STATIC__/admin/uploads/artical/logo_5.png" /></a> 
  <!-- list -->
  
  <!-- list over -->
  <ul class="nav">
    <div class="navTop"></div>
    <li class="child on"> 
      <a href="/home/index/index">
        <p class="title">首页</p>
      </a> 
    </li>

    {volist name='nav' id='vo'} 
    <li class="child">
      <a href="/home/{$vo.link}/index">
        <p class="title">{$vo.name}</p>
      </a>
      <ul class="childContent">
        {volist name='vo.sub' id='v'}
        <a href="/home/index/{$v.link}"><li class="childContentLi">{$v.name}</li></a>  
        {/volist}
      </ul>
      <img class="wapNavPointer" src="__STATIC__/admin/uploads/artical/wapnavpointer.jpg" /> 
    </li>
    {/volist}

    <li class="child navChildSearch" style="line-height:px;"> <img   style="margin-top: 53px;" class="seachIcon" src="__STATIC__/admin/uploads/artical/seachicon.png" /> </li>
  </ul>
  <!-- searchContent over --> 
  <!-- wap --> 
  <img class="wapNavBtn" src="__STATIC__/admin/uploads/artical/wapnavbtn_5.png" />
  <div class="wapLanguage"> <a>
    <div class="language on cn">CN</div>
    </a> <a href="/">
    <div class="language">EN</div>
    </a> </div>
  <!-- wap over --> 
</div>
 
<!-- header over -->
</div>
<!-- wap over -->
</div>
<!-- header over -->

<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/commercial.css" />
<!-- crumbs -->
<div class="crumbs">
  <div class="container">
    <p class="title">智能建筑</p>
    <div class="childs"> <a href='http://www.aaa.com/'>主页</a> > <a href='/a/jiejuefangan/'>解决方案</a> > <a href='/a/jiejuefangan/zhinenjianzhu/'>智能建筑</a> </div>
  </div>
</div>
<!-- crumbs over --> 
<!-- main -->
<div class="main">
  <div class="container">
    <div class="maxTitle"> <span class="title">智能建筑</span>
      <div class="sub"></div>
    </div>
    <p class="info1">
	魔客吧为商业领域提供智能解决方案已有30年。我们十分清楚，解决方案既要有助于提高效率，又要实用可行，并且还要符合建筑师、机电工程师、能源顾问以及商业安装服务提供商的需求。我们高能效的产品和体验对于提供强大而又高性价比的解决方案方面来说具有无比的价值。</p>

    <div class="mainHead">
    </div>


    <div class="mainContent">
    {volist name='case' id='vo'}
      <div class="child " style="margin:0 22px" >
        <p class="childTitle">{$vo.title}</p>
        <div class="childImg"> <img src="__STATIC__/admin/uploads/artical/{$vo.photo}" /> </div>
        <div class="childInfo">
          <p>{$vo.content}</p>
          <p><a href=""></a></p>
        </div>
      </div>
    {/volist}
    </div>
    <p class="info2">如果还不能决定购买，那么可以看一看我们的<a href="#">商用建筑项目案例</a>。或者如果你需要联系我们，可以<a href="/home/aboutus/index">点击这里查找你所在地的代理商</a>。如果你想更好地使用家里的魔客吧系统，你可以<a href="/home/product/index">浏览一下我们在售的产品</a>。</p>
    <div class="top"><img src="__STATIC__/admin/uploads/artical/top_2.png" /></div>
  </div>
</div>
<!-- main over --> 
<!-- footer --> 
<div class="footer">
  <div class="head">
    <div class="container">
      <div class="left">
        <p class="title">搜索本站</p>
        <form  name="formsearch" action="/plus/search.php">
          <div class="seach">
            <input type="hidden" name="kwtype" value="0" />
            <input type="text" name="q" class="seachText" placeholder="搜索" />
            <button type="submit" class="search-submit">
            <div id="btn" class="btn"> <img  src="__STATIC__/admin/uploads/artical/footsearch_5.png" /> </div>
            </button>
          </div>
        </form>
      </div>
      <div class="right">
        <p class="title">社交媒体</p>
        <div class="content"> <a href="http://weibo.com/"><img src="__STATIC__/admin/uploads/artical/icon1_5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon2_5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon3_5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon4_5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon5_5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon6_5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon7_5.png" /></a> </div>
      </div>
    </div>
  </div>
  <div class="foot">
    <p>Copyright &copy; 2002-2011  | 华北互联 |<a href="http://www.miitbeian.gov.cn/"> 粤ICP备88888888号</a> </p>

  </div>
</div> 
<!-- footer over --> 
<!-- js --> 
<script src="__STATIC__/home/js/jquery-1.11.0.min_5.js"></script> 
<script src="__STATIC__/home/js/base_5.js"></script> 
<script src="__STATIC__/home/js/index_5.js"></script> 
<script src="__STATIC__/home/js/indexnews_5.js"></script> 
<script src="__STATIC__/home/js/indexbanner_5.js"></script> 

<!-- js over -->
</body>
</html>
<script>
	$(function(){
		$("#btn").click(function(){
			$("#post_1").submit();
		});

	
		$("#btn_2").click(function(){
			$("#post_2").submit();
		});
		$("#btn_3").click(function(){
			$("#post_3").submit();
		});
	});



</script>
<script src="__STATIC__/home/js/jquery.validate_2.js"></script>
<script src="__STATIC__/home/js/app.validate_2.js"></script>