<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>技术支持</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/base.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/indexbanner.css" />
</head>
<body >
<!-- header -->
<div class="header" > <a href="/"><img class="headerLogo" src="__STATIC__/admin/uploads/artical/logo.png" /></a> 
  <!-- list -->
  
  <!-- list over -->
  <ul class="nav">
    <div class="navTop"></div>
    <li class="child on"> 
      <a href="/home/index/index">
        <p class="title">首页</p>
      </a> 
    </li>

    {volist name='nav' id='vo'} 
    <li class="child">
      <a href="/home/{$vo.link}/index">
        <p class="title">{$vo.name}</p>
      </a>
      <ul class="childContent">
        {volist name='vo.sub' id='v'}
        <a href="/home/index/{$v.link}"><li class="childContentLi">{$v.name}</li></a>  
        {/volist}
      </ul>
      <img class="wapNavPointer" src="__STATIC__/admin/uploads/artical/wapnavpointer.jpg" /> 
    </li>
    {/volist}

    <li class="child navChildSearch" style="line-height:px;"> <img   style="margin-top: 53px;" class="seachIcon" src="__STATIC__/admin/uploads/artical/seachicon.png" /> </li>
  </ul>
  <!-- searchContent -->
  <div class="searchContent">
    <form  name="formsearch" action="/plus/search.php">
      <div class="seach">
        <input type="hidden" name="kwtype" value="0" />
        <input type="text" name="q" class="seachText" placeholder="搜索" />
        <button type="submit" class="search-submit">
        <div id="btn_2" class="btn"><img src="__STATIC__/admin/uploads/artical/footsearch.png" /></div>
        </button>
      </div>
    </form>
  </div>
  <!-- searchContent over --> 
  <!-- wap --> 
  <img class="wapNavBtn" src="__STATIC__/admin/uploads/artical/wapnavbtn.png" />
  <div class="wapLanguage"> <a>
    <div class="language on cn">CN</div>
    </a> <a href="/">
    <div class="language">EN</div>
    </a> </div>
  <!-- wap over --> 
</div>
 
<!-- header over -->
</div>
<!-- wap over -->
</div>
<!-- header over -->
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/training.css" />
<!-- crumbs -->
<div class="crumbs">
  <div class="container">
     <p class="title">技术支持</p>
    <div class="childs"> <a href='http://www.aaa.com/'>主页</a> > <a href='/a/jishuzhichi/'>技术支持</a> </div>
  </div>
</div>
<!-- crumbs over --> 
<!-- main -->
<div class="main">
  <div class="container">
	<div class="maxTitle">
		<span class="title">技术培训</span>
		<div class="sub">
			&nbsp;</div>
	</div>
	<div class="mainHead">
		<div class="left">
			<img src="__STATIC__/admin/uploads/artical/55bb483b7628b.jpg" /></div>
		<div class="right">
			<div class="rightTitle">
				<span class="title">关于培训</span>
				<div class="sub">
					&nbsp;</div>
			</div>
			<p class="info">
				华北互联总部定期举行智能家居与智能建筑系统工程师培训。培训的主要对象为华北互联代理商、经销商、系统集成商、安装商、以及所有有兴趣进入此行业或者成为华北互联合作伙伴的专业人士。通过学习培训课程，学员可以对华北互联 Buspro智能控制系统和解决方案有深入的了解，为自己的客户提供更好的服务。培训由经验丰富的讲师授课，学员可以学习到Buspro的理论知识、系统编程与调试以及相关的行业知识。学员在经过专业的系统培训后参加&ldquo;笔试+实操&rdquo;考试，通过考核即可获得由华北互联颁发的&ldquo;buspro建筑智能控制系统技术工程师&rdquo;认证证书。</p>
		</div>
	</div>
	<div class="mainContent">
		<div class="mainContentTitle">
			<span class="title">培训安排</span>
			<div class="sub">
				&nbsp;</div>
		</div>
		<p class="mainContentInfo">
			华北互联总部每年举行多次培训，每次培训持续时间约为5天。以下是2015年度的培训安排。</p>
		<p class="mainContentInfo">
			&nbsp;</p>
		<p class="mainContentInfo" style="text-align: left;">
			<strong>&nbsp; 2015年Buspro工程师培训计划</strong></p>
		<p class="mainContentInfo">
			&nbsp;</p>
		<p class="mainContentInfo" style="text-align: left;">
			1、4月20日-24日第28期华北互联 Bupro系统技术工程师培训</p>
		<p class="mainContentInfo" style="text-align: left;">
			&nbsp;</p>
		<p class="mainContentInfo" style="text-align: left;">
			2、8月03日-07日第29期华北互联 Bupro系统技术工程师培训</p>
		<p class="mainContentInfo" style="text-align: left;">
			&nbsp;</p>
		<p class="mainContentInfo" style="text-align: left;">
			3、10月19日-23日第30期华北互联 Bupro系统技术工程师培训</p>
		<p class="mainContentInfo" style="text-align: left;">
			&nbsp;</p>
		<p class="mainContentInfo" style="text-align: left;">
			4、 12月14日-18日第31期华北互联 Bupro系统技术工程师培训</p>
		<p class="mainContentInfo">
			&nbsp;</p>
		<p class="mainContentInfo">
			&nbsp;</p>
		<p class="mainContentInfo">
			&nbsp;</p>
		<div class="mainTable">
			<div class="mainTableTitle">
				&nbsp;</div>
			<ul>
			</ul>
		</div>
	</div>
	<div class="mainContent2">
		<div class="child">
			<div class="childTitle">
				<span class="title">培训费用</span>
				<div class="sub">
					&nbsp;</div>
			</div>
			<p>
				1、河东企业经销商/代理商：课程培训免费；河东企业提供午餐，晚餐自理。住宿统一安排预定，费用自理（标单（双）人房150元/天，豪华单（双）人房180元/天）</p>
			<p>
				2、非河东企业经销商/代理商：3000元/人（其中包括资料费、证书工本费、中餐费）；晚餐/住宿费用自理（统一安排预定）。</p>
			<p>
				账号名称：广州市河东电子有限公司</p>
			<p>
				开户银行：中国工商银行广州员村支行</p>
		</div>
		<div class="child right">
			<div class="childTitle">
				<span class="title">课程安排</span>
				<div class="sub">
					&nbsp;</div>
			</div>
			<p>
				参观体验魔客吧智能体验中心/工程案例分享/ Buspro产品系统理论知识讲解</p>
			<p>
				Buspro产品调试（按键面板、液晶面板、空调模块、调光器、继电器、传感器等）</p>
			<p>
				Buspro产品调试（遥控器、红外发射模块、GPRS模块、逻辑模块、触摸屏、音乐播放、安防模块、12合一等）</p>
			<p>
				CAD绘图设计/第三方产品对接/设计手册</p>
			<p>
				智能酒店(酒店客房控制）</p>
		</div>
		<div class="child right">
			<div class="childTitle">
				<span class="title">培训收益</span>
				<div class="sub">
					&nbsp;</div>
			</div>
			<p>
				1、对智能建筑的应用及方案流程的应用有一个清晰的把握和认识</p>
			<p>
				2、掌握魔客吧 Buspro智能建筑控制系统各模块的设计、调试、安装、控制及应用</p>
			<p>
				3、掌握智能家居方案具体流程</p>
			<p>
				4、深入了解并掌握智能建筑载体知识</p>
			<p>
				<input class="inputBtn" onclick="#" type="button" value="培训报名" /></p>
		</div>
	</div>
	<!-- team -->
	<div class="team">
		<div class="teamTitle">
			<span class="title">培训讲师团队</span>
			<div class="sub">
				&nbsp;</div>
		</div>
		
		<div class="teamTitle">
			<div class="childContent">
				<p class="childInfo" style="font-size: 16px; color:#999;">
					2005年进入河东企业，有着10年的工程调试经验！精通舞台、智能控制技能知识。 调试过的舞台项目有：深圳保利文化广场剧院；洛阳歌剧院；河南艺术中心&hellip; 调试过的智能控制项目有：广州亚运持术官员村智能家居项目；大连发现王国智能照明工程；沈阳、大连东软集团智能照明工程&hellip; 擅长领域：智能照明控制技术与应用</p>
			</div>
		</div>
	</div>
	<!-- team over --><!-- teach -->
	<div class="teach">
		<div class="left">
			<img src="__STATIC__/admin/uploads/artical/55bb47065f448.jpg" /></div>
		<div class="right">
			<p class="title">
				培训在哪里举行？</p>
			<p class="info">
				举行培训的地点是华北互联花重金打造的智能体验中心。体验中心占地1600多平米，是华南地区最大的智能家居体验中心，汇聚了建筑智能控制三十多个子系统，二十多家国内外高端智能建筑生产商最新的技术与产品，展现了国际智能控制最新理念，彰显中国智能建筑行业发展的最新水平，是对智能建筑技术与功能的完美表达。在这里，学员可以对智能家居和智能建筑有更直观的认识。 培训地址：广州市番禺区石楼镇利丰大道莲花西路86号（华北互联智能体验中心）</p>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<p>
				<a href="#">点击这里报名</a></p>
		</div>
	</div>
	<!-- teach over --><!-- join -->
	
	<!-- join over -->
	<div class="top">
		<img src="__STATIC__/admin/uploads/artical/top.png" /></div>
</div>
<br />

</div>
<!-- main over --> 
<!-- footer -->
<div class="footer">
  <div class="head">
    <div class="container">
      <div class="left">
        <p class="title">搜索本站</p>
        <form  name="formsearch" action="/plus/search.php">
          <div class="seach">
            <input type="hidden" name="kwtype" value="0" />
            <input type="text" name="q" class="seachText" placeholder="搜索" />
            <button type="submit" class="search-submit">
            <div id="btn" class="btn"> <img  src="__STATIC__/admin/uploads/artical/footsearch.png" /> </div>
            </button>
          </div>
        </form>
      </div>
      <div class="right">
        <p class="title">社交媒体</p>
        <div class="content"> <a href="http://weibo.com/"><img src="__STATIC__/admin/uploads/artical/icon1.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon2.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon3.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon4.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon5.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon6.png" /></a> <a href="#"><img src="__STATIC__/admin/uploads/artical/icon7.png" /></a> </div>
      </div>
    </div>
  </div>
  <div class="foot">
    <p>Copyright &copy; 2002-2011  | 华北互联 |<a href="http://www.miitbeian.gov.cn/"> 粤ICP备88888888号</a> </p>

  </div>
</div>
<!-- footer over --> 
<!-- js --> 
<script src="__STATIC__/home/js/jquery-1.11.0.min.js"></script> 
<script src="__STATIC__/home/js/base.js"></script> 
<script src="__STATIC__/home/js/index.js"></script> 
<script src="__STATIC__/home/js/indexnews.js"></script> 
<script src="__STATIC__/home/js/indexbanner.js"></script> 

<!-- js over -->
</body>
</html>
<script>
	$(function(){
		$("#btn").click(function(){
			$("#post_1").submit();
		});

	
		$("#btn_2").click(function(){
			$("#post_2").submit();
		});
		$("#btn_3").click(function(){
			$("#post_3").submit();
		});
	});



</script>
<script src="__STATIC__/home/js/training.js"></script>